<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>Controlfrog - Meaningful Metrics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="../../css/bootstrap-reboot.css" rel="stylesheet">
	<link href="../../css/bootstrap-grid.css" rel="stylesheet">
	<link href="../../css/bootstrap.css" rel="stylesheet">
	<link href="../../css/controlfrog.css" rel="stylesheet" media="screen">
	<link href="/../../favicon.ico" rel="shortcut icon" type="image/x-icon" />

	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
	<!--script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script-->
	<script src="../../js/moment.js"></script>
	<script src="../../js/easypiechart.js"></script>
	<script src="../../js/gauge.js"></script>
	<script src="../../js/chartjs.js"></script>
	<script src="../../js/ofenwatch.js" type="text/javascript"></script>
	<script src="/eel.js" type="text/javascript"></script>
	<script src="../../js/dataloader.js" type="text/javascript"></script>
		
	
	
	<!--<script src="js/jquery.sparklines.js"></script>-->


	<script src="../../js/bootstrap.js"></script>
	<script src="../../js/controlfrog-plugins.js"></script>

	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<script src="js/excanvas.min.js"></script>
	<![endif]-->
	<script>
		var themeColour = 'black';
	</script>
	<script src="../../js/controlfrog.js"></script>
</head>

<style>
#parent {
	background-color: green;
	width:100%;
	height: 100%;
}
#theCanvas {
	background-color: red;
	width:100%;
	height:90%;
}

.thebox {
	height: auto
	top: 0%;
	bottom: 0%;
	margin-left: 2%;
}

.settingsBoxLabel {
	float: left;
    /*background: #eee;*/
	width:70%;
	font-size: 3vh;
	margin-top: 1%;
	color: white;
}

.settingsBoxValue {
	float: left;
    /*background: #111;*/
	width:30%;
	font-size: 3vh;
	padding-left: 2%;
	margin-top: 1%;
	color: white;
}

.temp2holdBox {
    /*background: #111;*/
	width:100%;
	font-size: 7vh;
	color: white;
	text-align: center;
	margin-top: 20%;
	 
}
	
}
</style>

<body onload="init();">
	
	<!--div id="parent">
		<canvas id="theCanvas" width="350" height="300" style="border: 1px solid black; "> Ihr Browser kann kein Canvas! </canvas>
	</div-->
	
	<div id="controlfrog" class="black">
		<div class="cf-nav cf-nav-state-min">
			<a href="" class="cf-nav-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<ul>
				<li class="current cf-nav-shortcut router-link-exact-active">
					<a class='current' href="layout-1.html">
						<span class="cf-nav-min">1</span>
						<span class="cf-nav-max">Layout 1</span>
					</a>
					<!--
					<ul>
						<li><a href="">Sub menu</a></li>
						<li><a href="">Sub menu</a></li>
						<li><a href="">Sub menu</a></li>										
					</ul>
					-->
				</li>
				<li class="cf-nav-shortcut">
					<a href="layout-2.html">
						<span class="cf-nav-min">2</span>
						<span class="cf-nav-max">Layout 2</span>
					</a>
				</li>
				<li class="cf-nav-shortcut">
					<a href="layout-3.html">
						<span class="cf-nav-min">3</span>
						<span class="cf-nav-max">Layout 3</span>
					</a>
				</li>
				<li class="cf-nav-shortcut">
					<a href="layout-4.html">
						<span class="cf-nav-min">4</span>
						<span class="cf-nav-max">Layout 4</span>
					</a>
				</li>
				<li class="cf-nav-shortcut">
					<a href="layout-5.html">
						<span class="cf-nav-min">5</span>
						<span class="cf-nav-max">Layout 5</span>
					</a>
				</li>
				<li class="cf-nav-shortcut">
					<a href="layout-6.html">
						<span class="cf-nav-min">6</span>
						<span class="cf-nav-max">Layout 6</span>
					</a>
				</li>
			</ul>
		</div>

		
		<div class="container-fluid cf-container cf-nav-active">
			<div class="row">
				<div class="col-md-6">
					<div class="row vh-2-3rds">
						<div class="col-md-12">
							<div class="cf-item">
								<header>
									<p><span></span>Thermogram</p>
								</header>
								<canvas id="theCanvas" width="350" height="300" style="border: 1px solid black; "> Ihr Browser kann kein Canvas! </canvas>
							</div>
						</div>
					</div>
					
					<div class="row vh-1-3rd">
						<div class="col-sm-6">
							<div class="cf-item">
								<header>
									<p><span></span>Stein Temperatur °C</p>
								</header>
								<div class="content cf-zoned-gauge" id="cf-zoned-gauge-2">
									<div class="val-current">
										<div class="val-min">
											<div class="metric-small">0</div>
										</div>
										<div class="metric" id="cf-zoned-gauge-2-m">0</div>
										<div class="val-max">
											<div class="metric-small">0</div>
										</div>
									</div>
									<div class="canvas">
										<canvas id="cf-zoned-gauge-2-g"></canvas>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
<!-- Display the time and date For 12hr clock add class 'cf-td-12' to the 'cf-td' div -->
							<div class="cf-item">
								<header>
									<p><span></span>Abgas Temperatur (innen) °C</p>
								</header>
								<div class="content cf-zoned-gauge" id="cf-zoned-gauge-4">
									<div class="val-current">
										<div class="val-min">
											<div class="metric-small">0</div>
										</div>
										<div class="metric" id="cf-zoned-gauge-4-m">0</div>
										<div class="val-max">
											<div class="metric-small">0</div>
										</div>
									</div>
									<div class="canvas">
										<canvas id="cf-zoned-gauge-4-g"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col-md-6">
					<div class="row vh-1-3rd">
						<div class="col-sm-6">
							<div class="cf-item">
								<header>
									<p><span></span>Backraum Temperatur °C</p>
								</header>
								<div class="content cf-zoned-gauge" id="cf-zoned-gauge-5">
									<div class="val-current">
										<div class="val-min">
											<div class="metric-small">0</div>
										</div>
										<div class="metric" id="cf-zoned-gauge-5-m">0</div>
										<div class="val-max">
											<div class="metric-small">0</div>
										</div>
									</div>
									<div class="canvas">
										<canvas id="cf-zoned-gauge-5-g"></canvas>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="cf-item">
								<header>
									<p><span></span>Time &amp; date</p>
								</header>
								<div class="content">
									<div class="cf-td">
									<!-- <div class="cf-td cf-td-12">-->
										<div class="cf-td-time metric">12:00</div>
										<div class="cf-td-dd">
											<p class="cf-td-day metric-small">Monday</p>
											<p class="cf-td-date metric-small">1st October, 2013</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row vh-1-3rd">
						<div class="col-sm-6">
							<div class="cf-item">
								<header>
									<p><span></span>Backraum Temperatur Verlauf 1h °C</p>
								</header>
								<div class="content">
									<div class="cf-line" id="cf-line-1">
										<canvas id="cf-line-1-c"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<!--div class="row vh-1-3rd"-->
								<div class="cf-item">
									<header>
										<p><span></span>Aktuelle Einstellung</p>
									</header>
									<div>
										<div class="thebox">
											<div class="settingsBoxLabel">Drosselklappe:</div>
											<div id="drosselklappe" class="settingsBoxValue">---</div>
										</div>
										<div class="thebox">
											<div class="settingsBoxLabel">Abgasregulatoren:</div>
											<div id="srz" class="settingsBoxValue">---</div>
										</div>
										<div class="thebox">
											<div class="settingsBoxLabel">Gebläse:</div>
											<div id="fan" class="settingsBoxValue">---</div>
										</div>
										<div class="thebox">
											<div class="settingsBoxLabel">Lufteinlass:</div>
											<div id="lufteinlass" class="settingsBoxValue">N.A.</div>
										</div>
										<div class="thebox">
											<div class="settingsBoxLabel">AutoMode:</div>
											<div id="automode" class="settingsBoxValue">NULL</div>
										</div>
										<div class="thebox">
											<div class="settingsBoxLabel">Fast HeatUp</div>
											<div id="fastheatup"class="settingsBoxValue">NULL</div>
										</div>
									</div>
								</div>
								
							<!--/div-->
							<!--div class="cf-item">
								<header>
									<p><span></span>RAG Bars</p>
								</header>
								<div class="content">
									<div id="cf-rag-1" class="cf-rag"></div>
								</div>
							</div-->
							<!--div class="cf-item">
								
								<header>
									<p><span></span>Drosselklappe</p>
								</header>
								<div class="content">
									<div class="cf-svmc">
										<div class="metric">94%</div>
									</div>
									<div class="cf-svmc">
										<div class="metric">45%</div>
									</div>
								</div>
								
							</div-->
						</div>
						
					</div>
					
					<div class="row vh-1-3rd">
						<div class="col-sm-6">
<!--Single value pie chart - Display a single value pie chart x steps of a funnel with bar chart and corresponding figure and txt easypiechart.js -->
							<div class="cf-item">
								<header>
									<p><span></span>Abgas Temperatur (Schornstein) °C</p>
								</header>
								<div class="content cf-zoned-gauge" id="cf-zoned-gauge-1">
									<div class="val-current">
										<div class="val-min">
											<div class="metric-small">0</div>
										</div>
										<div class="metric" id="cf-zoned-gauge-1-m">0</div>
										<div class="val-max">
											<div class="metric-small">0</div>
										</div>
									</div>
									<div class="canvas">
										<canvas id="cf-zoned-gauge-1-g"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="cf-item">
								<header>
									<p><span></span>Zieltemperatur</p>
								</header>
								<div>
									
										<div id="temp2hold" class="temp2holdBox">---</div>
								
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>