<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>Controlfrog - Meaningful Metrics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<script src="../../js/ofenwatch.js" type="text/javascript"></script>
	<script src="../../js/dataloader.js" type="text/javascript"></script>
		
	
	

</head>

<style>
#parent {
	background-color: green;
	width:100%;
	height:100%;
}
#theCanvas {
	background-color: red;
	width:50%;
	height:90%;
}
</style>

<body onload="init();">
	
	<div id="parent">
		<!--canvas id="theCanvas" width="350" height="300" style="border: 1px solid black; "> Ihr Browser kann kein Canvas! </canvas-->
	</div>
	<div>
				<input type="range" min="0" max="500" value="0" class="slider" id="myRange">
				<p>Value: <span id="demo"></span></p>
				
				<input type="range" min="0" max="500" value="0" class="slider" id="dachRange">
				<p>Value: <span id="dachDemo"></span></p>
				
	</div>
	
	<div id="demo">

		<h1>The XMLHttpRequest Object</h1>

		<button type="button"
		onclick="loadDoc('ajax_info.txt', myFunction)">Change Content
		</button>
	</div>
	
</body>
</html>